+++
title = "Milkman"
linkTitle = "Milkman"
+++

{{< blocks/cover title="Milkman: A Request/Response Workbench" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Craft and organize your requests to any kind of technology...</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="blue" %}}
Milkman is heavily inspired by Postman. But I got sick of all those electron-based applications that need ages and loads of memory to start up. Therefore i created a JavaFx-based workbench for crafting requests / responses. It is not limited to e.g. http (or more specifically rest) requests. Due to nearly everything being a plugin, other things are possible, like database-requests or GRPC, GraphQl, etc...
{{% /blocks/lead %}}

{{< blocks/section  color="white" >}}
<div class="col">
	<h1 class="text-center">Showcase</h1>
</div>
<div class="row">

<div class="col-lg-4 mb-5 mb-lg-0 text-center">
	{{< imgproc screenshot.png Resize "x300" >}}
	Screenshot of Milkman light theme
	{{< /imgproc >}}
	</div>
	<div class="col-lg-4 mb-5 mb-lg-0 text-center">
		{{< imgproc screenshot Resize "600x" >}}
		Screenshot of Milkman light theme
		{{< /imgproc >}}
	</div>
	<div class="col-lg-4 mb-5 mb-lg-0 text-center">
		{{< imgproc screenshot Resize "600x" >}}
		Screenshot of Milkman light theme
		{{< /imgproc >}}
	</div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gift" title="New features regularly " %}}
There are more and more plugins/features coming. 

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/warmuuh/milkman" %}}
If you have any ideas about how to improve Milkman, you are welcome to open a [Pull Request](https://github.com/warmuuh/milkman/pulls), 
an [Issue](https://github.com/warmuuh/milkman/issues) or just ask in [Discussions](https://github.com/warmuuh/milkman/discussions)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/milkmanapp" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
